@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Verdana', 'Geneva', sans-serif
}

.navbar .navbar-nav .nav-link:hover {
  color: #fff;
  background-color: #dc3545;
  transition: color 0.3s, background-color 0.3s;
}
.navbar .navbar-nav .nav-link {
  padding: 0.5rem;
  border-radius: 0.25rem;
  display: inline-block;
  box-sizing: border-box;
  transition: background-color 0.3s, color 0.3s;
}

html {
  scroll-behavior: smooth;
}

