@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Verdana', 'Geneva', sans-serif;
  background-color: #f8f5f5;

}

.navbar .navbar-nav .nav-link:hover {
  color: #fff;
  background-color: #dc3545;
  transition: color 0.3s, background-color 0.3s;
}
.navbar .navbar-nav .nav-link {
  padding: 0.5rem;
  border-radius: 0.25rem;
  display: inline-block;
  box-sizing: border-box;
  transition: background-color 0.3s, color 0.3s;
}

html {
  scroll-behavior: smooth;
}

.menu-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-line .description {
  flex: 1;
  padding-right: 0.25rem;
  margin-bottom: 0.60rem;
  
}

.menu-line .price {
  flex-shrink: 0; /* evita que se comprima */
  margin-left: 0.25rem;
}

ul {
  max-width: 1000px; /* ancho para la “carta” */

 
}




